<h2>Signup</h2>
<form action="/signup" method="POST" enctype="multipart/form-data">


<label>Username</label>
<input type="text" name="username" />

<label>Email</label>
<input type="email" name="email" />

<label>Password</label>
<input type="password" name="password" />

<label>Profile Picture</label>
<input type="file" name="imageUrl" />

<label>Location</label>
<input type="text" name="location" />

<label>Interests</label>
<input type="text" name="interests" />

<label>Bio</label>
<textarea row="20" cols="100" name="bio"></textarea>






Writer <input type="radio" name="role" value="writter" checked="true">
Editor <input type="radio" name="role" value="editor">



<button type="submit">Create account</button>

</form>











{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<script>

</script>