<h2>Signup</h2>
<form action="/signup" method="POST" enctype="multipart/form-data">

<label>Username</label>
<input type="text" name="username" />

<label>Email</label>
<input type="email" name="email" />

<label>Password</label>
<input type="password" name="password" />

<label>Image</label>
<input type="file" name="image" />


<button type="submit">Create account</button>

</form>





{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}