<nav id="sign-up-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {{!-- <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo"> --}}
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item nav-item-tohide">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item nav-item-tohide">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                <li class="nav-item nav-item-tohide">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>--}}
                {{!-- <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li> --}}
                <li>
                    <button id="login-btn" type="submit"><a href="/login">Login</a></button>

                </li>

            </ul>
        </div>
    </div>
</nav>






{{!-- SIGNUP REFERENCE IMAGE --}}
<div id="signup-background">
    <img id="sketch-icon" src="/images/sketch-icon.jpg" alt="sketch-icon">
    <br>
    <h1 id="h1-singup">... register to start doing<br> your best writing.</h1>

    <div id="signup-div">
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <input class="input-signup" type="text" name="username" placeholder="Username" />
            <br>
            <input class="input-signup" type="email" name="email" placeholder="Email" />

            <br>
            <input class="input-signup" type="password" name="password" placeholder="Password" />


            <br>
            <input class="input-signup" type="text" name="location" placeholder="Location" />

            <br>
            <input class="input-signup" type="text" name="interests" placeholder="Interests" />
            <br>

            <textarea id="text-area-signup" row="20" cols="100" name="bio" placeholder="Bio"></textarea>
            <br>

            {{!-- <label>Profile Picture</label> --}}
            {{!-- <input class="img-input" type="file" name="image" /> --}}



            {{!-- <div class="file-input">
                <input type="file" id="file" class="file img-input" name="image">
                <label for="file">Profile Picture</label>
            </div> --}}




            <br>

            <div id="div-signup-btns">

                <div class="file-input">
                    <input type="file" id="file" class="file img-input" name="image">
                    <label for="file">Profile Picture</label>
                </div>



                {{!-- <button id="register-btn" class="black-btn" type="submit">Register</button> --}}
                <div>
                    <div class="radio-btn">
                        Writer <input type="radio" name="role" value="writter" checked="true">
                    </div>

                    <div class="radio-btn">
                        Editor <input type="radio" name="role" value="editor">
                    </div>
                </div>
            </div>


            <div class="register-error-div">

                {{!-- TEST --}}
                <button id="register-btn" class="black-btn" type="submit">Register</button>
                {{#if errorMessage}}
                <p class="error-message">{{errorMessage}}</p>
                {{/if}}
            </div>
        </form>



    </div>

















</div>

<footer>
    <div id="endpage-jorno-logo">
        <img id="jorno-logo" src="/images/jorno-logo.png" alt="jorno-logo">
    </div>

</footer>