

<h1>Users</h1>
<hr>

{{#each usersFromDB}}
<div>
    
    <p>By: {{username}}</p>


  

    {{#if imageUrl}}
    <img height="200" width="200" src={{imageUrl}} />
    {{/if}}

<hr>

</div>
<br><br>
{{/each}}




