<h1>Create new book</h1>
<form action="/create-book" method="POST" enctype="multipart/form-data">
    {{!-- enctype multipart lets me insert images --}}

    <label>Title</label>
    <input type="text" name="title" />

    <label>Author</label>
    {{!-- <input type="text" name="author" /> --}}
    <select name="author">
        {{!-- <select name="author" multiple> multiple authors--}}
            <option value="">Choose author</option>
            {{#each allAuthors}}
            <option value={{_id}}>{{name}}</option>
            {{/each}}
        </select>

        <label>Description</label>
        <textarea row="5" cols="30" name="description"></textarea>


        <label>Rating</label>
        <input type="number" name="rating" />

        
        <label>Image</label>
        <input type="file" name="image" />

        <button type="submit">Create</button>

</form>