<nav id="sign-up-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {{!-- <img id="jorno-logo" src="/images/jorno-logo.jpg" alt="jorno-logo"> --}}
        {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> --}}
                <li class="nav-item nav-item-tohide">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item nav-item-tohide">
                    <a class="nav-link" href="/create-blogpost">Write</a>
                </li>
                <li class="nav-item nav-item-tohide">
                    <a class="nav-link" href="/auth/{{loggedId}}">Profile</a>
                </li>

                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>--}}
                {{!-- <li>
                    <form action="/logout" method="POST">
                        <button id="logout-btn" type="submit">Logout</button>
                    </form>
                </li> --}}

                <li>
                    <button id="signup-btn" type="submit"><a href="/signup">Signup</a></button>
                </li>

                <li>
                    <button id="login-btn" type="submit"><a href="/login">Login</a></button>
                </li>

            </ul>
        </div>
    </div>
</nav>


{{!-- <div id="background-image"></div>

<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}



<div id="landingpage">
    <div id="horizontal-landing-header-logo">
        <p id="landing-name">journo</p>
        <img id="landing-page-logo" src="/images/sketch-icon.jpg" />
    </div>
    <div id="landing-catchphrase">A platform, blog and text editor that support readers to become writers.</div>
    <div><img id="tiny-mce-screendump" src="/images/text-editor-img.png"></div>
    <div id="landing-black-divider">
        <p id="second-catch-phrase"><b>Reader-driven content creation.</b> Newspaper editors, we help you engange your
            readers
            to write quality content for your digital paper. Learn more on journo.io.</p>
    </div>
</div>