@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

#background-image {
  background-image: url("/images/landing-page-2.jpg");

  background-size: cover;
  height: 1000px;

}


body {
  background-color: #F8F8F8;
  padding: 0px;
  font: 14px Helvetica, Arial, sans-serif;
}



h1 {
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 42px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */

}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}




/* 
a {
  color: #00b7ff;
} */


/* .navbar-light{
  background-image: url("/images/navbar.jpg") !important;
  background-size: cover;
  width: 1440px;
  height: 77px;

} */

.navbar-light {
  background-color: white !important;
  height: 77px;
}


.nav-link {
  font-family: "Lora";

  font-size: 20px;
  line-height: 26px;
  line-height: 100px;
  letter-spacing: -1.5%;
  color: #111111 !important;
  margin: 2px 20px 0px;
}



#jorno-logo {
  width: 180px;
  margin-left: 20px
}


#navbarNavDropdown {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;

}

#logout-btn {
  margin: 40px 50px;
  background-color: white;
  color: #18A0FB;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.2px;
}




/* NEWS PAGE */

#sketch-icon {
  /* border: 1px solid red; */
  width: 70px;
  margin: 60px 0px 20px 100px;

}

#h1-news {
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 42px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
  padding-left: 100px;
}

/* NEWS BACKGROUND REFERENCE */
/* #news-background{
  background-image: url("/images/news-background copy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
} */



#search-main-div {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  margin: 180px 0px;
}

#search-main-div div {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}



#search-bar {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 640px;
  height: 40px;
  text-align: center;
}

.black-btn {
  background-color: #111111;
  color: #F8F8F8;
  border: 1px solid #111111;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
}





/* NEWS-SEARCH BACKGROUND REFERENCE */
/* #news-search-background{
  background-image: url("/images/news-search-background copy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  
} */



#main-div-card-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 2px solid purple; */
  width: 100%;
  padding: 0px 20px;

}


.card-news {
  width: 450px;

  /* border: 1px solid yellow; */
  margin: 45px;
  background-color: rgba(0, 0, 0, 0.02);

  border-radius: 20px;
  padding: 30px;
}


.card-news a {
  font-family: "Lora";
  font-size: 16px;
  text-decoration: none !important;
  color: #4d5156;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: justify;
}

.card-news p {
  color: #4d5156;
  font-weight: lighter;
  letter-spacing: 0.4px;
  text-align: justify;
}



.input-to-hide {
  display: none;
}

.favorite-btn {
  font-size: 20px;
  border: none;
  color: #18A0FB;
  background-color: rgba(0, 0, 0, 0);
}

#favorites-icon,
#delete-icon {
  width: 40px;
  background-color: none;

}



#news-search-div {
  margin: 100px 0px 0px;
  display: flex;
  border: 1px solid orange;
  justify-content: flex-start;
  align-items: center;
  padding-left: 70px;
}


#h1-news-div {
  border: 1px solid blue;
  padding-left: 70px;
}




#h1-news-search {
  display: inline-block;
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  border: 1px solid blue;
  padding-right: 70px;
}

#h1-news-search-q {
  color: #18A0FB;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  border: 1px solid grey;
  padding-right: 70px;
}





#search-btn-2-page {
  background-color: #111111;
  color: #F8F8F8;
  border: 1px solid #111111;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
}


#search-bar-page-2 {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 400px;
  height: 40px;
  text-align: center;
}

#news-search-icon {
  border: 1px solid pink;
  height: 150px;
  padding: 50px 50px 0px;

}



/* SIGNUP */
/* #signup-background{
  background-image: url("/images/sign-up-form background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
} */


#sign-up-navbar {
  background-color: #F8F8F8 !important;

}

.nav-item-tohide {
  display: none;
}

#login-btn {
  margin: 40px 50px;
  background-color: white;
  color: #18A0FB;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.2px;
  padding: 1px 6px;

}

#login-btn a {
  text-decoration: none;
  color: #18A0FB;
}



#h1-singup,
#h1-login {
  display: inline-block;
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
  padding-left: 100px;

}


#signup-div {
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 100px;
}





.input-signup,
.input-login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 40px;
  margin: 15px 0px 15px;
}

#text-area-signup {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 100px;
  margin: 15px 0px 15px;
}

#div-signup-btns {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
  /* border: solid 1px orange; */
  width: 500px;
}

#div-signup-btns>div {
  /* border: 1px solid pink; */
  display: flex;
  width: 100px;
  justify-content: space-between;

}

.radio-btn {
  color: #18A0FB;
  font-size: 1rem;
  font-weight: 500;
  /* border: 1px solid red; */
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#endpage-jorno-logo {
  /* border: 1px solid hotpink; */
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}





/* LOGIN PAGE */
#login-btn-page {
  margin: 15px 0px;
}


#sign-up-icon {
  width: 70px;
}


#login-inputs {
  margin-left: 100px;
}



#no-account-div {
  /* border: 1px solid brown; */
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  margin-left: 100px;
}

#no-account-div div {
  margin-bottom: 10px;
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 1px;
}

#no-account-div div>a {
  text-decoration: none;
  color: #18A0FB;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 1px;
}


/* USER PROFILE */

#edit-profile a {
  text-decoration: none;
  color: #F8F8F8;

}



#user-profile-div-1,
#user-profile-div-2 {
  
  display: flex; 
  /* border: 1px solid orange; */
  flex-direction: column;
  width: 500px;
}


#user-profile-div-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#user-profile-div-2 a{
  text-decoration: none;
  font-family: "Lora";
  font-size: 1.5rem;
  font-weight: bold;
  color: #111111;
  
}


#profile-blogposts-a{
  margin-top: 20px;
}


#profile-news-a {
  margin-top: 5px;
}

/* #user-profile-div-1 h1 {
  margin-bottom: 50px;
} */




.span-bold,
.user-profile-div label {
  font-weight: bold;
  /* border: 1px solid salmon; */
  width: 200px;
}



.user-profile-div span {
  /* border: 1px solid yellow; */
  width: 200px;
}



#profile-blogposts-icon {
  width: 70px;
}


#profile-favnews-icon {
  width: 50px;
}








/* USER EDIT PROFILE */
.user-profile-div {
  /* border: 1px solid burlywood; */
  margin: 70px 0px 0px 100px;
}

.user-profile-div div {
  display: flex;
  align-content: flex-start;
  /* border: 1px solid plum; */
  padding: 0px 0px 20px;
}



.user-profile-div h1 {
  margin-bottom: 50px;
}



.input-edit {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 40px;
  margin: 10px 0px 25px;
}


#text-area-edit {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 100px;
  margin: 10px 0px 25px;
}


#edit-profile-icon,
#profile-icon {
  /* border: 1px solid red; */
  height: 100px;
}






/* BLOGPOST CREATE - RELOOK!!! */
#horizontal_blogpost_alignment {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-top: 30px;
  justify-content: space-between;
}

#leftside_blogpost {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#rightside_blogpost {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}




/* BLOGPOST LIST - RELOOK!!!*/
#horizontal_blogpost_alignment {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-top: 30px;
  justify-content: space-between;
}

#leftside_blogpost {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#rightside_blogpost {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}