@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* #background-image {
  background-image: url("/images/landing-page-2.jpg");
  background-size: contain;
  height: 1200px;
} */


body {
  background-color: #F8F8F8;
  padding: 0px;
  font: 14px Helvetica, Arial, sans-serif;
}



h1 {
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 42px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  z-index: 99999999;
}


.error-message{
  color:#004574;
  font-family: "Lora";
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

/* 
a {
  color: #00b7ff;
} */


/* .navbar-light{
  background-image: url("/images/navbar.jpg") !important;
  background-size: cover;
  width: 1440px;
  height: 77px;

} */

.navbar-light {
  background-color: white !important;
  height: 77px;
}


.nav-link {
  font-family: "Lora";
  font-size: 20px;
  line-height: 26px;
  line-height: 100px;
  letter-spacing: -1.5%;
  color: #111111 !important;
  margin: 2px 20px 0px;
}

.nav-link:hover {
  font-family: "Lora";
  font-size: 20px;
  line-height: 26px;
  line-height: 100px;
  letter-spacing: -1.5%;
  color: #18A0FB !important;
  margin: 2px 20px 0px;
}




#jorno-logo {
  width: 180px;
  margin-left: 20px
}


#navbarNavDropdown {
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
}

#logout-btn {
  margin: 40px 50px;
  background-color: white;
  color: #18A0FB;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.2px;
}


.unstyle-link {
  text-decoration: none;
  color: white;
}


.unstyle-link:hover {
  text-decoration: none;
  color: white;
}


#separation-line-blogpostlist{
  border-bottom: 0.5px solid #4d5156b0;
  margin: 30px 0px 0px 100px;
  width: 580px;
}


/* NEWS PAGE */
#sketch-icon {
  /* border: 1px solid red; */
  width: 70px;
  margin: 60px 0px 15px 100px;
}


#h1-news {
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 42px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
  padding-left: 100px;
}

/* NEWS BACKGROUND REFERENCE */
/* #news-background{
  background-image: url("/images/news-background copy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
} */



#search-main-div {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  margin: 180px 0px;
}


#search-main-div div {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}



#search-bar {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 640px;
  height: 40px;
  text-align: center;
}


.black-btn {
  background-color: #111111;
  color: #F8F8F8;
  border: 1px solid #111111;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
}


.black-btn:hover {
  background-color: #aeaeae;
  color: #F8F8F8;
  border: 1px solid #aeaeae;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
}





/* NEWS-SEARCH BACKGROUND REFERENCE */
/* #news-search-background{
  background-image: url("/images/news-search-background copy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  
} */



#main-div-card-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 2px solid purple; */
  width: 100%;
  padding: 0px 20px;
}


.card-news {
  width: 450px;
  /* border: 1px solid yellow; */
  margin: 45px;
  background-color: rgba(0, 0, 0, 0.02);
  /* box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  padding: 30px;
}


#separation-line {
  border-bottom: 0.5px solid #4d5156b0;
  margin: 20px 0px 40px;
}



.card-news a {
  font-family: "Lora";
  font-size: 16px;
  text-decoration: none !important;
  color: #4d5156;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: justify;
}


.card-news p {
  color: #4d5156;
  font-weight: lighter;
  letter-spacing: 0.4px;
  text-align: justify;
}


.input-to-hide {
  display: none;
}


.favorite-btn {
  font-size: 20px;
  border: none;
  color: #18A0FB;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px 0px 0px 340px;
}


#favorites-icon,
#delete-icon {
  width: 40px;
  background-color: none;
}



#news-search-div {
  margin: 100px 0px 0px;
  display: flex;
  /* border: 1px solid orange; */
  justify-content: flex-start;
  align-items: center;
  padding-left: 70px;
}


#h1-news-div {
  /* border: 1px solid blue; */
  padding-left: 70px;
}


#h1-news-search {
  display: inline-block;
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
  padding-right: 70px;
}


#h1-news-search-q {
  color: #18A0FB;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid grey; */
  padding-right: 70px;
}


#search-btn-2-page {
  background-color: #111111;
  color: #F8F8F8;
  border: 1px solid #111111;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
}


#search-bar-page-2 {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 400px;
  height: 40px;
  text-align: center;
}


#news-search-icon {
  /* border: 1px solid pink; */
  height: 150px;
  padding: 50px 50px 0px;
}


#news-fav-icon{
height: 150px;
padding: 50px 70px 0px;
}


/* NEWS FAVORITES */
.news-fav a {
  text-decoration: none;
  color: #111111;
  font-weight: bold;
  font-family: "Lora";
  font-size: 1rem;
  /* margin-left: 70px; */
}


.news-fav a:hover {
  text-decoration: none;
  color: #18A0FB;
  font-weight: bold;
  font-family: "Lora";
  font-size: 1rem;
  /* margin-left: 70px; */
}


.news-fav img {
  margin-left: 70px;
}


.news-fav {
  /* border: 1px solid orangered; */
  margin: 10px 0px 0px 70px;
  width: 500px;
}


#h1-news-fav-div {
  /* border: 1px solid blue; */
  margin-left: 70px;
  margin-bottom: 30px;
}




#separation-line-fav{
border-bottom: 0.5px solid #4d5156b0;
margin: 20px 0px 0px 0px;
width: 500px;
}





/* SIGNUP */
/* #signup-background{
  background-image: url("/images/sign-up-form background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
} */


#sign-up-navbar {
  background-color: #F8F8F8 !important;
}


.nav-item-tohide {
  display: none;
}


#login-btn {
  margin: 40px 50px;
  background-color: white;
  color: #18A0FB;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.2px;
  padding: 1px 6px;
}


#login-btn a {
  text-decoration: none;
  color: #18A0FB;
}


#signup-btn {
  margin: 40px 0px;
  background-color: #18A0FB;
  color: white;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.2px;
  padding: 1px 6px;
}


#signup-btn a {
  text-decoration: none;
  color: white;
}


#h1-singup,
#h1-login {
  display: inline-block;
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 40px;
  line-height: 48px;
  line-height: 120%;
  letter-spacing: 1px;
  /* border: 1px solid blue; */
  padding-left: 100px;
  margin-bottom: 10px;
}


#signup-div {
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 100px;
}


.input-signup,
.input-login {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 40px;
  margin: 13px 0px 13px;
}


#text-area-signup {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 100px;
  margin: 13px 0px 0px;
}


#div-signup-btns {
  margin: 5px 0px 13px;
  display: flex;
  justify-content: space-between;
  /* border: solid 1px orange; */
  width: 500px;
}


#div-signup-btns>div {
  /* border: 1px solid pink; */
  display: flex;
  /* width: 100px; */
  justify-content: space-between;
}


#register-btn{
  margin: 10px 0px 30px;
  z-index: 99999999;
}


.radio-btn {
  color: #18A0FB;
  font-size: 1rem;
  font-weight: 500;
  /* border: 1px solid red; */
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 9999999;
  padding-left: 60px;
}


input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #cdd6de;
  content: '';
  display: inline-block;
  visibility: visible;
  /* border: 1px solid rgba(0, 0, 0, 0.2)); */
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #18A0FB;
  content: '';
  display: inline-block;
  visibility: visible;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}









#endpage-jorno-logo {
  /* border: 1px solid hotpink; */
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}


/* .img-input{
text-decoration: none;
border: none;
color: #4d515654;
width: 500px;
} */

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: 9999999;
}

/* .file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
} */

.file-input label{
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* border-radius: 6px; */
  width: 130px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
  z-index: 9999999;
}




.register-error-div{
/* border: 1px solid orange; */
width: 500px;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;
}







/* LOGIN PAGE */
#login-btn-page {
  margin: 15px 0px;
}


#sign-up-icon {
  margin-top: 10px;
  width: 70px;
}


#login-inputs {
  margin-left: 100px;
}


#no-account-div {
  /* border: 1px solid brown; */
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  margin-left: 100px;
}


#no-account-div div {
  margin-bottom: 10px;
  color: #111111;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 1px;
}


#no-account-div div>a {
  text-decoration: none;
  color: #18A0FB;
  font-family: "Lora";
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 1px;
}


/* USER PROFILE */
#edit-profile a {
  text-decoration: none;
  color: #F8F8F8;
}



#user-profile-div-1,
#user-profile-div-2 {
  display: flex;
  /* border: 1px solid orange; */
  flex-direction: column;
  width: 500px;
}


#user-profile-div-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#user-profile-div-2 a {
  text-decoration: none;
  font-family: "Lora";
  font-size: 1.5rem;
  font-weight: bold;
  color: #111111;
}


#profile-blogposts-a {
  margin-top: 25px;
}


#profile-news-a {
  margin-top: 5px;
}

/* #user-profile-div-1 h1 {
  margin-bottom: 50px;
} */


.span-bold,
.user-profile-div label {
  font-weight: bold;
  /* border: 1px solid salmon; */
  width: 200px;
}


.user-profile-div span {
  /* border: 1px solid yellow; */
  width: 200px;
}


#profile-blogposts-icon {
  width: 45px;
  margin-right: 10px;
}


#profile-favnews-icon {
  width: 35px;
  margin-right: 10px;
}



/* USER EDIT PROFILE */
.user-profile-div {
  /* border: 1px solid burlywood; */
  margin: 70px 0px 0px 100px;
}


.user-profile-div div {
  display: flex;
  align-content: flex-start;
  /* border: 1px solid plum; */
  padding: 0px 0px 20px;
}


.user-profile-div h1 {
  margin-bottom: 50px;
}


.input-edit {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 40px;
  margin: 10px 0px 25px;
}


#text-area-edit {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 100px;
  margin: 10px 0px 25px;
}

/* PREVIOUS STYLING PROFILE ICON */
/* #edit-profile-icon,
#profile-icon { */
  /* border: 1px solid red; */
  /* height: 100px;
} */

#edit-profile-icon,
#profile-icon {
  /* border: 1px solid red; */
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  height: 110px;
  width: 110px;
  margin-bottom: 20px;
}



#profile-update-div{
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}




/* BLOGPOST CREATE */
#body-create-blogpost {
  margin-left: 75px;
  margin-top: 50px;
}


#horizontal_blogpost_alignment {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-top: 30px;
  justify-content: space-between;
  font-family: "Lora";
  font-size: 15px;
  font-weight: bold;
}


#leftside_blogpost {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#rightside_blogpost {
  width: 500px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#create-blogpost-btn {
  background-color: #111111;
  color: #F8F8F8;
  border: 1px solid #111111;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
  margin: 35px 0px 20px 0px; 
  font-family: Helvetica;
}

#create-blogpost-btn:hover {
  background-color: #aeaeae;
  color: #F8F8F8;
  border: 1px solid #aeaeae;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  line-height: 100%;
  letter-spacing: 0.4px;
  margin: 35px 0px 20px 0px;
  font-family: Helvetica;
}








/* BLOGPOST LIST - WORK IN PROGRESS*/
#blog-item-in-list {
  margin-top: 20px;
  margin-left: 200px;
}


#article-head {
  width: 600px;
  margin-top: 10px;
  margin-left: 100px;
  font-family: "Lora";
  font-size: 40px;
  
}


#horizontal-over-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.blog-description {
  font-size: 17px;
  font-family: "Lora";
  font-weight: bolder;
}


#blog-author-info {
  font-size: 15px;
  font-family: "Lato";
  color: darkgrey;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  line-height: 23px;
  width: 300px;
  height: 50px;
  justify-content: space-between;
}


.byline-author-img {
  width: 45px;
  height: 45px;
  background-color: darkgrey;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


#string-of-icons {
  width: 200px;
  margin-left: 50px;
  padding-bottom: 10px;
}


.SoMe-icons {
  width: 35px;
  height: 35px;
}


#article-content {
  width: 600px;
  margin-left: 100px;
  font-family: "Lora";
  font-size: 14px;
}


#title-style {
  color: black;
  font-weight: bold;
  text-decoration: none;
}


#title-style:hover {
  color: #18A0FB;
  font-weight: bold;
  text-decoration: none;
}


#edit-delete-blogpost{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  width: 575px;
  margin-left: 300px;
  
}







/* BLOGPOST FIND */
#blogpost-search-div {
  margin: 20px 0px -50px;
  display: flex;
  /* border: 1px solid orange; */
  justify-content: flex-start;
  align-items: center;
  padding-left: 300px;
}

#search-bar-fav{
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 530px;
  height: 40px;
  text-align: center;
}


.favorite-blogpost-btn {
  font-size: 20px;
  border: none;
  color: #18A0FB;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 285px;
}


#separation-line-blogpostfav {
  border-bottom: 0.5px solid #989898b0;
  margin: 20px 0px 40px 290px;
  width: 600px;
}


.h1-blogposts-archive{
  border: 1px solid green;
  padding: 50px 0px 0px 300px;
}

#blogpost-fav-icon {
  height: 220px;
  padding: 50px 0px 0px 300px;
}


/* 
BLOGPOST EDIT TEXT GOES HERE WITH LOTS OF GREEN TO SIGNAL NEW AREA */
.writer-blog-btns {
  margin-left: 100px;
}


/* LANDING PAGE */

#horizontal-landing-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 250px;
  margin-top: -10px;
  /* PREVIOUS MARGIN */
  /* margin-top: 55px; */
  margin-bottom: -15px;
}


#landing-name {
  font-family: "Lora";
  font-size: 175px;
  font-weight: bold;
}


#landing-page-logo {
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-top: 40px;
}


#landing-catchphrase {
  font-family: "Lora";
  font-size: 32px;
  font-weight: normal;
  width: 600px;
  margin-left: 350px;
}


#second-catch-phrase {
  font-family: "Lora";
  font-size: 20px;
  font-weight: normal;
  line-height: 140%;
  color: whitesmoke;
  padding-top: 55px;
  margin-left: 70px;
  width: 300px;
}


#landing-black-divider {
  margin-top: 45px;
  height: 500px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 300px 15px 301px rgba(0, 0, 0, 0.45);
}

#tiny-mce-screendump {
  width: 750px;
  margin-top: 65px;
  margin-left: 500px;
  margin-bottom: -200px;
}