<h1>GLOBAL NEWS</h1>

{{!-- to work /news --}}
<form action="/news-search" method="GET">
    {{!-- enctype multipart lets me insert images --}}

    <label></label>
    <input type="text" name="q" placeholder="search" />


    <button type="submit">Search</button>

</form>




<ul>

    {{#each articles}}

<a href="/news/{{_id}}">
    {{title}}
</a>
<p>By: {{author}}</p>

     <p>{{title}}</p>
    {{/each}}
</ul>






