<h2>Create new author</h2>
<form action="/create-author" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Bio</label>
    <input type="text" name="bio" />

    <label>Picture</label>
    <input type="text" name="picture" />

    <button type="submit">Create</button>
</form>
